## server.cfg is a server configuration file which allows you to change
## all kinds of settings of your sa-mp server.
## This file is necessary for every server and has to be located in the 
## server directory next to the server application (samp-server.exe).
## Documentation:
## https://open.mp/docs/server/server.cfg

echo Executing Server Config...
lanmode 0
rcon_password root
maxplayers 100
port 7777
hostname [CW/TG] Russian Sawn-off Community
gamemode0 cwPublic
filterscripts sampcac_base sampcac_gameresource
plugins crashdetect sscanf sampcac_server YSF streamer FCNPC
## Toggle profiler for test
## plugins profiler sscanf sampcac_server YSF streamer FCNPC
announce 0
chatlogging 0
weburl none
onfoot_rate 40
incar_rate 40
weapon_rate 40
stream_distance 300.0
stream_rate 500
maxnpc 50
logtimeformat [%H:%M:%S]
language English
lagcompmode 1

## Only for localhost
## https://www.sqlite.org/rescode.html
## db_logging 1
## db_log_queries 1

## https://github.com/Zeex/samp-plugin-profiler#configuration
## profiler_gamemodes cwPublic
## profiler_outputformat html
## profile_filterscripts <fs_name1> <fs_name2> ...